:root{
  --bg:#f5f7fb;
  --sidebar:#ffffff;
  --card:#ffffff;
  --border:#e5e7eb;
  --text:#0f172a;
  --muted:#64748b;
  --dark:#0f172a;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Inter,sans-serif;
  background:var(--bg);
  color:var(--text);
}

.dashboard-layout{
  display:flex;
  min-height:100vh;
}

.main-content{
  flex:1;
  padding:32px;
}

/* TOPBAR */

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.search-box{
  width:420px;
  background:white;
  border:1px solid var(--border);
  border-radius:14px;
  padding:12px 18px;

  display:flex;
  align-items:center;
  gap:12px;
}

.search-box input{
  border:none;
  outline:none;
  width:100%;
  background:none;
}

.top-actions{
  display:flex;
  gap:14px;
}

.btn-light-ui,
.btn-dark-ui{
  padding:12px 18px;
  border-radius:12px;
  text-decoration:none;
  font-weight:600;
  display:flex;
  align-items:center;
  gap:10px;
}

.btn-light-ui{
  background:white;
  color:#111827;
  border:1px solid var(--border);
}

.btn-dark-ui{
  background:#0f172a;
  color:white;
}

/* HEADER */

.page-header{
  margin-bottom:28px;
}

.page-header h1{
  font-size:2.5rem;
  font-weight:800;
}

.page-header p{
  color:var(--muted);
  margin-top:10px;
}

/* TABLE */

.property-table-card{
  background:white;
  border-radius:24px;
  border:1px solid var(--border);
  overflow:hidden;
}

.property-table{
  width:100%;
  border-collapse:collapse;
}

.property-table thead{
  background:#f8fafc;
}

.property-table th{
  padding:22px;
  text-align:left;
  font-size:.82rem;
  color:#64748b;
}

.property-table td{
  padding:22px;
  border-top:1px solid #eef2f7;
}

.property-info{
  display:flex;
  align-items:center;
  gap:16px;
}

.property-info img{
  width:78px;
  height:58px;
  object-fit:cover;
  border-radius:12px;
}

.property-info h4{
  font-size:1.08rem;
  margin-bottom:4px;
}

.property-info p{
  color:#64748b;
  margin:0;
}

.status-badge{
  padding:8px 14px;
  border-radius:999px;
  font-size:.82rem;
  font-weight:700;
}

.occupied{
  background:#dcfce7;
  color:#15803d;
}

.table-actions{
  display:flex;
  align-items:center;
  gap:14px;
}

.table-actions a,
.table-actions button{
  width:40px;
  height:40px;
  border:none;
  border-radius:10px;
  background:#f1f5f9;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#0f172a;
  cursor:pointer;
  text-decoration:none;
}